@import _tokens

.chart-page
  width: 90%
  max-width: 1000px
  margin: 0 auto
  padding: 20px 0

  table.leaderboard
    background-color: $card-background

    th, td
      padding: 10px

    tbody
      tr:hover
        background-color: $chart-highlight-background
        cursor: pointer

  .table-filters
    margin: 10px 0

.date-picker
  label
    margin-right: 10px

  .date-picker-toggle-button
    border: 1px solid $main-text-color
    background-color: $card-background
    padding: 5px

// Dark mode
@mixin chartsDarkMode()
  .chart-page table.leaderboard
    background-color: $dark-card-background
    color: $dark-main-color

    tbody
      tr:hover
        background-color: $dark-highlight-background

  .date-picker
    .date-picker-toggle-button
      color: $dark-filter-text
      border-color: $timeline-line-color
      background-color: $dark-lightbox-background
