@import _tokens

.leaderboard
  margin-top: 20px
  border-collapse: collapse
  background-color: $card-background
  border: 1px solid $main-text-color

  th, td
    border: 1px solid $main-text-color
    padding: 10px
