// To add new icon colors, just add a new entry to this map and then use it in your content.js file!
$icon-colors: ("green": #59bf51, "red": #bf413e, "grey":#999999, "purple": #5948a4)

$accent: #5948a4
// Color tokens beginning with "dark-" are used in dark mode.
/* Background colors ---------------------------*/
$header-footer-background: $accent
$main-background: #eeeeee
$card-background: #ffffff
$filterbar-background: #ffffff

$dark-header-footer-background: #003356
$dark-main-background: #222222
$dark-card-background: #333333
$dark-filterbar-background: #000000

/* Text colors ---------------------------------*/
// Header and footer
$title-color: #ffffff
$header-footer-body-color: #eeeeee
$header-footer-link-color: lighten($accent, 70%)

// Main
$main-text-color: #000000
$main-link-color: $accent
$timestamp-color: #888888

$dark-main-color: #cccccc
$dark-link-color: #7acbff

// Auxiliary pages
$dark-etc-header-color: #3086bf

/* Other colors ---------------------------------*/
$timeline-line-color: #cccccc
$timeline-icon-color: #ffffff

$dark-timeline-line-color: #444444
