@import _colors

.timeline-filter-wrapper
  display: flex
  background-color: $filterbar-background
  color: $filter-text
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)

.timeline-filter
  display: flex
  max-width: 1600px
  padding: 0 10px

  h2
    font-size: 1em
    margin: 0

  .expand-filters-button
    display: flex
    align-items: center
    background-color: transparent
    border: 0
    color: $filter-text
    cursor: pointer

    &:disabled
      color: $filter-text

  .filter-and-button, .filters-expandable
    display: flex
    align-items: center

  .filter-select div[class*="-menu"]
    z-index: 5

@media only screen and (min-width: 769px)
  .timeline-filter-wrapper
    padding: 5px 0
    min-height: 50px

  .timeline-filter
    width: 90%
    margin: 0 auto

    .expand-filters-button
      .fa-caret-down
        display: none

    .filters-expandable
      flex-grow: 1

      >*
        margin-left: 20px

@media only screen and (max-width: 768px)
  .timeline-filter
    width: 100%
    flex-direction: column

    .expand-filters-button
      height: 30px
      flex-grow: 1
      justify-content: space-between

    .filters-expandable
      display: none
      flex-direction: column
      border-top: 1px solid $timeline-line-color
      margin-bottom: 10px

      &.expanded
        display: flex

      .filter-select
        width: 90%
        margin-top: 10px

@media (prefers-color-scheme: dark)
  .timeline-filter-wrapper
    background-color: $dark-filterbar-background
    color: $dark-filter-text
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)

  .timeline-filter
    .expand-filters-button
      color: $dark-filter-text

      &:disabled
        color: $dark-filter-text

    .filters-expandable
      border-color: $dark-timeline-line-color

  .filter-select
    >div
      background-color: $dark-card-background
      border-color: $dark-timeline-line-color

    div[class*="-control"]
      border-color: $dark-card-background !important
      box-shadow: $dark-card-background !important

    div[class*="-indicatorContainer"]:hover
      color: #666666

    div[class*="-menu"] div[class*="option"]
      background-color: $dark-card-background

      &:hover, &:active
        background-color: $dark-main-color
        color: $dark-card-background
