@import "normalize.css/normalize"
@import "@fortawesome/fontawesome-free/css/all"
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:ital,wght@0,400;0,900;1,400;1,900&display=swap")
@import _colors
@import _filters
@import _loading

$display-font: 'Press Start 2P'
$body-font: 'Source Code Pro'

html
  width: 100%
  height: 100%

body
  width: 100%
  height: 100%
  background-color: $main-background
  color: $main-text-color
  font-family: $body-font, sans-serif

*
  box-sizing: border-box

h1
  font-family: $display-font, serif
  margin-top: 0
  color: $title-color

a
  text-decoration: none
  color: $main-link-color

  &:hover,
  &:focus
    text-decoration: underline

header.page-header,
footer.page-footer
  display: flex
  background-color: $header-footer-background
  justify-content: center
  align-items: center
  min-height: 80px
  padding: 20px 20px
  width: 100%

  h1
    margin: 0

  .constrain-width
    max-width: 1440px

  p
    line-height: 120%
    color: #eee

  a
    border-bottom: 1px dashed lighten($header-footer-background, 20%)
    color: $header-footer-link-color

header.page-header.timeline-page
  padding-bottom: 0
  justify-content: normal

  .constrain-width
    height: 100%
    display: flex
    flex-wrap: nowrap
    justify-content: space-between

  img.logo
    margin-left: -65px
    max-height: 300px
    object-fit: contain

  .header-content
    padding: 0 30px
    align-self: center

  ul
    padding: 0px

    li
      list-style: none

footer.page-footer
  padding: 10px 10px

  .constrain-width p
    text-align: center

div.content-wrapper
  display: flex
  min-height: calc(100vh - 215px)

  &.timeline-page
    min-height: calc(100vh - 340px)

.timeline
  position: relative
  width: 90%
  max-width: 1600px
  margin: 0px auto
  padding: 20px 0 100px 0

  &::before
    content: ''
    position: absolute
    top: 0
    left: calc(50% - 2px) // 50% - 1/2 width
    height: 100%
    width: 4px
    background: $timeline-line-color

.timeline-entry
  position: relative
  margin-top: -130px

  &.first
    margin-top: 10px

  &.short
    margin-top: -50px

  &.odd
    .timeline-description
      margin-left: 55%

.timeline-icon
  position: absolute
  left: 50%
  width: 40px
  height: 40px
  margin-left: -20px
  border: 4px solid $timeline-line-color
  border-radius: 50%
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4)
  text-align: center
  vertical-align: middle

  i
    color: $timeline-icon-color
    font-size: 20px
    line-height: 150%

  .icon-wrapper
    display: flex
    width: 100%
    height: 100%
    align-items: center
    justify-content: center

  img
    width: 20px
    height: 20px
    object-fit: contain

.timeline-description
  box-sizing: border-box
  position: relative
  width: 45%
  background-color: $card-background
  padding: 20px
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1)
  display: inline-block
  z-index: 1

  .tags
    display: flex
    margin-top: 20px
    padding-top: 10px
    border-top: 1px solid $timeline-line-color
    font-style: italic
    font-size: 70%

    .tag-list
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden

      &.theme
        flex-shrink: 0

      &:not(:first-child):before
        color: $timeline-line-color
        content: "|"
        padding: 0 5px

    .tag-group-right
      display: flex
      flex-wrap: wrap
      justify-content: flex-end
      flex-grow: 1
      min-width: 0
      padding-left: 20px

  .timestamp
    font-style: italic
    font-size: 80%

    .note
      color: $timestamp-color

  h2
    font-family: $body-font, serif
    font-weight: 900
    line-height: 110%
    margin: 5px 0
    -webkit-margin-before: 5px
    -webkit-margin-after: 5px

    a
      text-decoration: inherit
      color: inherit
      float: right
      visibility: hidden

    &:hover
      a
        visibility: visible
        opacity: 0.5

  p, ul
    margin: 5px 0 10px 0
    -webkit-margin-before: 5px
    -webkit-margin-after: 10px

  img
    width: 100%
    max-width: 150px
    display: block

  .landscape
    img
      max-width: 200px

.captioned-image
  max-width: 150px
  clear: both

  .caption
    display: block
    line-height: 120%
    font-style: italic
    font-size: 90%
    margin-top: 10px

  .attribution-link
    font-size: 70%

  &.landscape
    max-width: 200px

.sub-entry
  clear: both
  margin-top: 30px

.generic-page
  width: 90%
  max-width: 1600px
  margin: 0 auto
  padding-bottom: 20px
  line-height: 130%

dt
  font-weight: bold
  margin-top: 20px

.navigation-bar
  background-color: $filterbar-background
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)

  .contents
    width: 90%
    max-width: 1600px
    padding: 10px 0
    margin: 0 auto

.etc
  width: 90%
  max-width: 1600px
  margin: 0px auto
  padding: 30px 0

  h1
    color: $header-footer-background

  .description
    font-size: 80%
    font-style: italic

.sr-only
  position: absolute
  left: -10000px
  top: auto
  width: 1px
  height: 1px
  overflow: hidden

.clearfix
  clear: both

.error-wrapper
  display: flex
  flex-direction: column
  max-width: 300px
  text-align: center
  margin: 50px auto 0 auto
  padding: 0 20px

  span
    margin-top: 20px

/* ICON COLORS */
.timeline-icon
  @each $name, $color in $icon-colors
    &.#{$name}
      background-color: $color

/* RESPONSIVENESS */
@media only screen and (min-width: 769px)
  .timeline-entry.even .timeline-description:after
    left: 100%
    border-left-color: $card-background

  header.page-header.timeline-page
    min-height: 300px
    align-items: start

    li
      display: inline

      &:not(:first-child):before
        color: $header-footer-body-color
        content: "•"
        padding: 10px

@media only screen and (max-width: 768px) and (min-width: 415px)
  .timeline-entry.even .timeline-description:after
    right: 100%
    border-right-color: $card-background

@media only screen and (min-width: 415px)
  .timeline-description:after
    top: 20px
    border: solid transparent
    content: ' '
    height: 0
    width: 0
    position: absolute
    pointer-events: none
    border-width: 10px
    margin-top: -10px

  .timeline-entry.odd .timeline-description:after
    right: 100%
    border-right-color: $card-background

  .image-right
    float: right
    padding: 10px 0 20px 20px

@media only screen and (max-width: 768px)
  header.page-header
    h1
      font-size: 1.5em

    p, ul
      font-size: 14px

    .constrain-width
      align-items: end

  header.page-header.timeline-page
    img.logo
      max-height: 200px

  .timeline::before,
    left: 0
  .timeline-icon
    left: 2px

  .timeline-entry,
  .timeline-entry.short
    margin-top: 25px

  .timeline-entry.odd .timeline-description,
  .timeline-entry.even .timeline-description
    margin-left: 50px

  .timeline-description
    width: 90%

@media only screen and (max-width: 414px)
  body
    font-size: 14px

  header.page-header
    height: auto
    padding-top: 20px

    h1
      font-size: 1.5em

    p
      font-size: 14px

    .constrain-width
      align-items: center
      flex-direction: column-reverse

    img.logo
      margin-left: 0px
      max-width: 100px

  .captioned-image
    margin: 20px auto
    text-align: center

  .timeline-description img,
    width: auto
    max-height: 80px
    margin: 0 auto

  .timeline:after
    display: none

  .timeline-icon
    width: 30px
    height: 30px
    margin-left: -15px

    i
      font-size: 15px
      line-height: 30px

  .timeline-entry.odd .timeline-description,
  .timeline-entry.even .timeline-description
    margin-left: 35px

// DARK MODE
@media (prefers-color-scheme: dark)
  body
    background-color: $dark-main-background

  header.page-header,
  footer.page-footer
    background-color: $dark-header-footer-background

    h1, p, ul
      color: $dark-header-footer-body-color

    a
      border-bottom: 1px dashed lighten($header-footer-background, 20%)
      color: $dark-header-footer-link-color

    img.logo
      filter: brightness(50%)

  body,
  .timeline-description,
  .timeline-filter,
  .timeline-icon i,
  .attribution,
  .etc
    color: $dark-main-color

  .timeline-description a,
  .attribution a,
  .etc a
    color: $dark-link-color

  div.etc h1
    color: $dark-etc-header-color

  .navigation-bar
    background-color: $dark-filterbar-background
    color: $dark-filter-text

  .timeline-description
    background-color: $dark-card-background

    .tags
      border-top: 1px solid $dark-timeline-line-color

  .timeline::before
    background-color: $dark-timeline-line-color

  .timeline-icon
    border-color: $dark-timeline-line-color
    color: $dark-timeline-icon-color

    img
      filter: brightness(60%)

  .timeline-icon
    @each $name, $color in $icon-colors
      &.#{$name}
        background-color: darken($color, 20%)

  /* Arrows */
  .no-js .timeline-entry .timeline-description::after
    border-right-color: $dark-card-background

  @media only screen and (min-width: 769px)
    .timeline-entry.even .timeline-description::after
      border-left-color: $dark-card-background

  @media only screen and (max-width: 768px) and (min-width: 415px)
    .timeline-entry.even .timeline-description::after
      border-right-color: $dark-card-background

  @media only screen and (min-width: 415px)
    .timeline-entry.odd .timeline-description::after
      border-right-color: $dark-card-background
