body {
  margin: 0;
  font-family: sans-serif;
  line-height: 120%;
}

h1, h2, h3 {
  line-height: 100%
}

header, footer {
  background-color: #5948a4;
}

header h1, header p, header a, header ul, footer p, footer a {
  color: #ffffff;
}

header img.logo {
  max-width: 200px;
  margin-right: 20px
}

.constrain-width {
  max-width: 1200px;
  margin: 0 auto;
}

header .constrain-width {
  margin: 0 auto 20px auto;
  display: flex;
}

footer {
  padding: 20px 0
}

footer .constrain-width p{
  text-align: center;
}

.flex {
  display: flex
}

.image-right {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 20px;
  text-align: center;
}

.captioned-image img {
  max-width: 250px;
  max-height: 250px;
}

.timeline-entry {
  border: 2px dashed #5948a4;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  header.page-header .constrain-width {
    padding: 0 20px;
    align-items: center;
    flex-direction: column-reverse;
  }

  .timeline-description .flex {
    flex-direction: column-reverse;
  }

  .timeline-description .image-right {
    align-items: center;
    margin: 0;
  }

  .captioned-image img {
    max-width: 100%;
    max-height: 200px;
  }
}