html {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Source Code Pro", "Courier New", monospace;
  line-height: 120%;
  background-color: #eeeeee;
}

h1, h2, h3 {
  margin: 0;
  line-height: 100%;
}

header, footer {
  background-color: #5948a4;
}

header h1, header p, header a, header ul, footer p, footer a {
  color: #ffffff;
}

header {
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}

header.timeline-page {
  display: block;
  padding-top: 10px;
}

.logo-image-link {
  display: flex;
  align-items: flex-end;
}

header img.logo {
  max-width: 200px;
  margin-right: 20px;
  justify-self: flex-end;
}

.constrain-width {
  max-width: 1200px;
  margin: 0 auto;
}

header .constrain-width {
  margin: 0 auto 20px auto;
  display: flex;
}

footer {
  padding: 20px 0
}

footer .constrain-width p{
  text-align: center;
}

.flex {
  display: flex
}

.image-right {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 20px;
  text-align: center;
}

.captioned-image img {
  max-width: 250px;
  max-height: 250px;
}

.timeline-entry {
  border: 2px dashed #5948a4;
  padding: 20px;
}

.timeline-filter-wrapper, .fix-at-bottom {
  display: none;
}

#noscript {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.navigation-bar {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
}

.navigation-bar .contents {
  width: 90%;
  max-width: 1600px;
  padding: 10px 0;
  margin: 0 auto;
}

.content-wrapper {
  min-height: calc(100vh - 270px);
  padding: 20px 50px;
}

@media only screen and (max-width: 768px) {
  header.page-header .constrain-width {
    padding: 0 20px;
    align-items: center;
    flex-direction: column-reverse;
  }

  .timeline-description .flex {
    flex-direction: column-reverse;
  }

  .timeline-description .image-right {
    align-items: center;
    margin: 0;
  }

  .captioned-image img {
    max-width: 100%;
    max-height: 200px;
  }
}

@media only screen and (max-width: 414px) {
  .content-wrapper {
    padding: 10px;
  }
}
